* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

p {
    font-weight: 400;
}

.background-dark {
    background-color: hsl(230, 17%, 14%);
}

/* Background Top */

header {
    background-color: hsl(225, 100%, 98%);
    height: 250px;
}

.header-dark {
    background-color: hsl(232, 19%, 15%);
}

/* Containers */

.main {
    display: inline-block;
    position: relative;
    margin: -200px auto 0;
}

.top-card {
    background-color: hsl(227, 47%, 96%);
    height: 12em;
    width: 14em;
    display: inline-block;
    margin: 1em 1em 0 1em;
    border-radius: 5px;
}

.bottom-card {
    background-color: hsl(227, 47%, 96%);
    text-align: left;
    margin: 1em 1em 1em 1em;
    height: 6em;
    width: 14em;
    border-radius: 5px;
}

.card-dark {
    background-color: hsl(228, 28%, 20%);
}

/* Main Area */

.main-head {
    margin-left: 1em;
    text-align: left;
}

.main-mid-text {
    margin-left: 1em;
    text-align: left;
    margin-top: 50px;
}


.main-div-mid {
    margin-top: 30px;
}

/* Card Hover Effect */

.light:hover {
    background-color: hsl(227, 47%, 90%);
}
.dark:hover {
    background-color: hsl(228, 28%, 30%);
}


/* Top Card Components */

.hr {
    height: 0.2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.fb-hr {
    background-color: hsl(208, 92%, 53%);
}

.tw-hr {
    background-color: hsl(203, 89%, 53%);
}

.ig-hr {
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.yt-hr {
    background-color: hsl(348, 97%, 39%);
}

.top-cards-heading {
    margin-top: 1em;
}

.top-cards-icon {
    position: relative;
    top: 0.4em;
    margin-right: 0.4em;
}

.followers {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.3em;
}

.top-cards-footer {
    margin-top: 1.4em;
}

.icon {
    position: relative;
    bottom: 0.2em;
    margin-right: 0.3em;
}

/* Bottom Card Components */

.bottom-card-right {
    float: right;
    padding-right: 20px;
}

.bottom-card-top {
    padding-top: 1em;
    padding-left: 15px;
}

.bottom-card-bottom {
    padding-top: 1em;
    padding-left: 15px;
}

.bottom-card-views {
    font-size: 1.8em;
    font-weight: bold;
}

.increase {
    position: relative;
    top: 0.7em;
}

.icon-bottom {
    position: relative;
    bottom: 0.2em;
}

/* Button */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    right: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: hsl(163, 72%, 41%);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    /*background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));*/
}

input:checked + .slider:before {
    -webkit-transform: translateX(-26px);
    -ms-transform: translateX(-32px);
    transform: translateX(-32px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.button {
    margin-right: 1em;
    position: relative;
    bottom: 50px;
    float: right;
}

.button-text {
    position: relative;
    top: 5px;
    padding-right: 10px;
}

/* Miscellaneous */

.text-blue {
    color: hsl(228, 34%, 66%)
}

.text-white {
    color: hsl(0, 0%, 100%);
}

.text-green {
    color: hsl(163, 72%, 41%);
}

.text-red {
    color: hsl(356, 69%, 56%);
}

.font-size16 {
    font-size: 16px;
}

.font-size10 {
    font-size: 10px;
}

.font-size18 {
    font-size: 18px;
}

.font-size12 {
    font-size: 12px;
}

.inline-block {
    display: inline-block;
}
